@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=Poppins:wght@200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
}

section {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h1, h3 {
    font-weight: 600;   
}

header h1 {
    margin-bottom: 1vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

header img {
    margin-top: 3vh;
    width: 30vw;
    border-radius: 50%;
}

header {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    width: 75vw;
    box-shadow: 15px 15px 50px -30px #000000;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    align-items: center;
    flex: 0 0 auto;
    width: 75vw; /* Ajuste a largura conforme necessário */
    margin-right: 20px; /* Espaço entre cartões */
}


.card-container {
    display: flex;
    overflow-x: auto;
    width: 100vw;
    padding: 10px;
}

.card {
    flex: 0 0 auto;
    width: 75vw; /* Ajuste a largura conforme necessário */
    margin-right: 20px; /* Espaço entre cartões */
    /* Resto do seu estilo .card */
}

/* Estilo opcional para remover a barra de rolagem */
.card-container::-webkit-scrollbar {
    display: none;
}

/* Correção para garantir que o flexbox funcione corretamente em dispositivos móveis */
@media (max-width: 600px) {
    .card-container {
        -webkit-overflow-scrolling: touch;
    }
}





.card img {
    width: 90%;
    margin-top: 3vh;
}

.card h3 {
    margin-top: 1vh;
}

p {
    font-size: 0.8rem;
    width: 90%;
    margin-top: 1vh;
    color: rgb(80, 80, 80);
}

.buyButton{
    margin-top: 2vh;
    padding: 10px;
    border-radius: 35px;
    border: none;
    color: white;
    font-family: 'Inter', 'sans-serif';
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    width: 50%;

}

.fa-solid{
    margin-right: 2vw;
}

.buyButton:hover{
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

.youtube {
    margin-top: 2vh;
    padding: 10px;
    border-radius: 35px;
    border: none;
    color: white;
    background-color: rgb(215, 18, 18);
    font-family: 'Inter', 'sans-serif';
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    width: 50%;
}